{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "ignoreFiles": [
    "src/styles/**/*.scss",
    "node_modules/**/*.*"
  ],
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [ 'extend', 'at-root', 'warn', 'error', 'if', 'else', 'for', 'each', 'while', 'mixin', 'include', 'content', 'return', 'function' ]
      },
    ],
    "indentation": null,
    "number-leading-zero": null,
    "unit-whitelist": ["rem", "px", "s", "%", "vw", "vh", "fr", "deg", "em"],
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "font-family-no-missing-generic-family-keyword": null,
    "max-empty-lines": null,
    "comment-whitespace-inside": null,
    "declaration-empty-line-before": null,
    "value-keyword-case": null,
    "no-extra-semicolons": null
  },
  "selector-pseudo-element-colon-notation": "double",
  "syntax": "scss"
}
